<h1 class="text-2xl font-bold mb-4">Partner Dashboard</h1>
<div class="inside-dashboard grid gap-8 gap-y-10 max-h-full">
  <div class="statistic">
    <app-card [showContent]="true" [partnerData]="partnerData"></app-card>
  </div>
  <div class="list tabs-container">
    <nz-tabset>
      <nz-tab nzTitle="Clients">
        @if (loading) {
          <div class="loading-container">
            <nz-spin nzSimple [nzSpinning]="true"></nz-spin>
          </div>
        } @else {
          <app-table [data]="clients" [columns]="clientColumns"></app-table>
        }
      </nz-tab>
      <nz-tab nzTitle="Users">
        @if (loading) {
          <div class="loading-container">
            <nz-spin nzSimple [nzSpinning]="true"></nz-spin>
          </div>
        } @else {
          <app-table [data]="users" [columns]="userColumns"></app-table>
        }
      </nz-tab>
    </nz-tabset>
  </div>
</div>
