@if (clientData()) {
  <h1 class="text-2xl font-bold mb-4">Client Dashboard</h1>
} @else if (userData()) {
  <h1 class="text-2xl font-bold mb-4">User Dashboard</h1>
} @else {
  <h1 class="text-2xl font-bold mb-4">Partner Dashboard</h1>
}
<div class="inside-dashboard grid gap-8 gap-y-10 max-h-full">
  <div class="statistic">
    <app-card [showContent]="true" [partnerData]="partnerData()" [clientData]="clientData()" [userData]="userData()"></app-card>
  </div>
  @if (this.partnerData()) {
    <div class="list tabs-container">
      <nz-tabset>
        @if (isGrowthPartner()) {
          <nz-tab nzTitle="Partners">
            <app-partner [partnerId]="partnerId()"></app-partner>
          </nz-tab>
        }
        <nz-tab nzTitle="Client">
          <app-client [partnerId]="partnerId()"></app-client>
        </nz-tab>
        <nz-tab nzTitle="User">
          <app-user [partnerId]="partnerId()"></app-user>
        </nz-tab>
      </nz-tabset>
    </div>
  }
</div>
