<nz-table #basicTable [nzData]="listOfData">
  <thead>
  <tr>
    <th>Name</th>
    <th>Age</th>
    <th>Address</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
    @for (data of basicTable.data; track data) {
      <tr (click)="console()" routerLink="/detail">
        <td>{{ data.name }}</td>
        <td>{{ data.age }}</td>
        <td>{{ data.address }}</td>
        <td>
          <a>Action 一 {{ data.name }}</a>
          <nz-divider nzType="vertical"></nz-divider>
<!--          <a (click)="showModal()" )>Delete</a>-->
        </td>
      </tr>
    }
  </tbody>
</nz-table>
