<nz-table #basicTable [nzData]="data()" [nzNoResult]="'No data available'">
  <thead>
    <tr>
      @for (column of columns(); track column.key) {
        <th>{{ column.title }}</th>
      }
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    @for (data of basicTable.data; track data) {
      <tr (click)="rowClick.emit(data)" style="cursor: pointer">
        @for (column of columns(); track column.key) {
          <td>
            @if (column.render) {
              @if (column.title === 'Account Status' || column.key === 'active') {
                <nz-tag [nzColor]="data[column.key] ? 'success' : 'magenta'" [nzBordered]="false">{{ column.render(data) }}</nz-tag>
              } @else {
                {{ column.render(data) }}
              }
            } @else {
              {{ data[column.key] }}
            }
          </td>
        }
        <td>
          <div class="flex gap-2">
            <app-button 
              [color]="'gold'"
              [icon]="'edit'"
              (click)="$event.stopPropagation(); onEdit.emit(data)">
            </app-button>
            @if (showToggleButton()) {
              <app-button 
                [color]="data.active ? 'gold' : 'secondary'"
                [icon]="data.active ? 'pause-circle' : 'play-circle'"
                (click)="$event.stopPropagation(); onToggleActive.emit(data)">
              </app-button>
            }
          </div>
        </td>
      </tr>
    }
  </tbody>
</nz-table>
