<nz-table #basicTable [nzData]="data" [nzNoResult]="'No data available'">
  <thead>
    <tr>
      @for (column of columns; track column.key) {
        <th>{{ column.title }}</th>
      }
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    @for (data of basicTable.data; track data) {
      <tr>
        <td>{{ data.name }}</td>
        <td>{{ data.email }}</td>
        <td>{{ data.startDate }}</td>
        @for (column of columns; track column.key) {
          <td>
            @if (column.render) {
              {{ column.render(data) }}
            } @else {
              {{ data[column.key] }}
            }
          </td>
        }
        <td>
          <a>Action 一 {{ data.name }}</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a>Delete</a>
        </td>
      </tr>
    }
  </tbody>
</nz-table>
