<h1 class="text-2xl font-bold mb-4">Partner</h1>
<div class="partner-container">
  <nz-tabset (nzSelectedIndexChange)="onTabChange($event)">
    @for (partnerType of partnerTypes; track partnerType) {
      @if (!partnerType.requiresSuperAdmin || isSuperAdmin()) {
        <nz-tab [nzTitle]="partnerType.title">
          @if (error(); as error) {
            <div class="error-message">
              {{ error }}
            </div>
          } @else if (loading()) {
            <div class="loading-container">
              <nz-spin nzSimple [nzSpinning]="true"></nz-spin>
            </div>
          } @else {
            <app-table [data]="partners" [columns]="columns"></app-table>
          }
        </nz-tab>
      }
    }
  </nz-tabset>
</div>

<ng-template #totalTemplate let-total>
  Total {{ total }} items
</ng-template>